/**********Site Master Adjustments**********/
/*Navbar*/
.navbar-fixed-top {
    margin-bottom: 50px;
    border-bottom: 1px;
    background-color: rgba(255,255,255,1);
}
.logo {
    position: absolute;
    left:20%;
    top:0px;
    z-index: 10;
}
.navbar-inverse {
    top: 55px;
    width: 75%;
    padding:6px 0;
}
.navbarContent {
    margin-left: 23%;
    margin-right:10%;
}
.navbar-nav {
    font-size: medium;
}

/*Body Content*/
.body-content{
    margin-top:75px;
}
/*********Crew Leader Routes Page***********/

/*Side Controls*/
.sideControls{
    position:fixed;
}
.input-group-addon {
    padding-left: 6px;
    padding-right: 6px;
    border: 1px solid grey;
}
.input-group {
    width: 165px;
}
.SearchBox {
    padding: 4px 1px;
    margin-left: 0;
    margin-right: 0;
    min-width: 138px;
    width: 138px;
}
.button {
    width: 100%;
}

/*Header*/
.routesHeader {
    text-align: center;
    margin-bottom: 25px;
}
