

.routesHeader {
	text-align: center;
}

.SearchBox {
    padding-left: 0;
    padding-right: 0;
    border: 1px solid grey;
    margin-left: 0;
    margin-right: 0;
    min-width: 138px;
    width: 138px;
    padding-bottom: 4px;
    padding-top: 4px;

}

.input-group-addon {
    padding-left: 6px;
    padding-right: 6px;
    border: 1px solid grey;
}

.button {
    width: 100%;
}
.input-group {
    width: 165px;
}