<appSettings>
  <!--<add key="startupRoles" value="Administrator; FieldEmployee; CrewLeader; Gardener; Procurement; TeamLeader"/>

  <add key="adminRole" value="Administrator"/>
  <add key="employeeRole" value="FieldEmployee"/>
  <add key="crewLeaderRole" value="CrewLeader"/>
  <add key="gardenerRole" value="Gardener"/>
  <add key="procurementRole" value="Procurement"/>
  <add key="teamLeaderRole" value="TeamLeader"/>

  <add key="crewLeaderUserName" value="JRaoul"/>
  <add key="crewLeaderPassword" value="0861463"/>
  <add key="crewLeaderYardID" value="1"/>-->
</appSettings>