<!--<connectionStrings>
  <add name="COEdb"
       connectionString="data source=.; initial catalog=COE_DB; integrated security=true"
       providerName="system.data.sqlclient"/>
  <add name="defaultconnection"
       connectionString="data source=.; initial catalog=COE_DB; integrated security=true"
       providerName="system.data.sqlclient"/>
</connectionStrings>-->
  
<!--<connectionStrings>
  <add name="COEdb"
       connectionString="Data Source=LAPTOP-JJ3E4IVO\MSSQLSERVER1; Initial Catalog=COE_DB; Integrated Security=true"
       providerName="System.Data.SqlClient"/>
  <add name="DefaultConnection"
       connectionString="Data Source=LAPTOP-JJ3E4IVO\MSSQLSERVER1; Initial Catalog=COE_DB; Integrated Security=true"
       providerName="System.Data.SqlClient"/>
</connectionStrings>-->

<connectionStrings>
  <add name="COEdb"
       connectionString="data source=U310-063\SQLEXPRESS; initial catalog=COE_DB; integrated security=true"
       providerName="system.data.sqlclient"/>
  <add name="defaultconnection"
       connectionString="data source=U310-063\SQLEXPRESS; initial catalog=COE_DB; integrated security=true"
       providerName="system.data.sqlclient"/>
</connectionStrings>