<!--<connectionstrings>
  <add name="coedb"
       connectionstring="data source=.; initial catalog=coe_db; integrated security=true"
       providername="system.data.sqlclient"/>
  <add name="defaultconnection"
       connectionstring="data source=.; initial catalog=coe_db; integrated security=true"
       providername="system.data.sqlclient"/>
</connectionstrings>-->
  
<connectionStrings>
  <add name="COEdb"
       connectionString="Data Source=LAPTOP-JJ3E4IVO\MSSQLSERVER1; Initial Catalog=COE_DB; Integrated Security=true"
       providerName="System.Data.SqlClient"/>
  <add name="DefaultConnection"
       connectionString="Data Source=LAPTOP-JJ3E4IVO\MSSQLSERVER1; Initial Catalog=COE_DB; Integrated Security=true"
       providerName="System.Data.SqlClient"/>
</connectionStrings>