<connectionStrings>
  <add name="COEdb"
       connectionString="Data Source=.; Initial Catalog=COE_DB; Integrated Security=true"
       providerName="System.Data.SqlClient"/>
  <add name="DefaultConnection"
       connectionString="Data Source=.; Initial Catalog=COE_DB; Integrated Security=true"
       providerName="System.Data.SqlClient"/>
</connectionStrings>